.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container
    a.navbar-brand(href='/')
      i.fas.fa-door-open
      i.fas.fa-bell
      | CheckM8
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home

        li.nav-item(class=(title === 'Status') ? 'active' : undefined)
          a.nav-link(href='/status') Status
        
        li.nav-item(class=(title === 'Application') ? 'active' : undefined)
          a.nav-link(href='/application') Application
      ul.nav.navbar-nav.ml-auto
