extends layout

block content
  h1 Project CheckM8
  p.lead A security system for college dormmates.
  hr
  .row
    .col-md-4
      h2 See if anyone is in your room.
      p Get the logs to who has opened your door recently.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-4
    .col-md-4
      h2 Turn on the alarm.
      p You can even pick your alarm noise.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    img(src=imgSrc)
