extends ../layout

block content
  head
    meta(charset='utf-8')
    title Table Style
    meta(name='viewport' content='initial-scale=1.0; maximum-scale=1.0; width=device-width;')
  .table-title
    h3 Data Table
  table.table-fill
    thead
      tr
        th.text-left Light Sensor
        th.text-left Time Stamp
    tbody.table-hover
      tr
        td.text-left May
        td.text-left $ 98,000.00

  link(rel="stylesheet", href="/css/checkmate.css")
